PORT = 5434
NODE_ENV = development

MONGODB_URI = mongodb://localhost:27017/apna

JWT_SECRET = yourName@123
JWT_EXPIRES_IN = 7d

SWAGGER_PASSWORD = kuch_bhi_likho@123
SWAGGER_ENABLED = true
SWAGGER_ROUTE = /api-docs
SWAGGER_TITLE = Apna
SWAGGER_VERSION = 1.0.0
SWAGGER_DESCRIPTION = API Documentation for Apna
SWAGGER_SERVER_URL = http://localhost:5434/api